/* Forum topic page - put main post in a box */
.forum-border {
  margin-top: 16px;
  border: 1px solid var(--bg-theme);
  border-radius: 3px;
  background-color: var(--bg-l5);
}
.post-info {
  box-sizing: border-box;
  padding: 8px;
  height: 100%;
  clear: both;
}
.forum-post {
  float: left;
}
.posted-on {
  font-size: .8em;
  padding: 0 6px 6px;
}
.forum-post-panel-sub {
  box-sizing: border-box;
  float: left;
  line-height: 100%;
  width: 15%;
}
.forum-post-panel-sub .author-pane {
  margin: 20px 10px;
}
.forum-post-panel-main {
  box-sizing: border-box;
  border: 1px solid lightgray;
  border-radius: 4px;
  background-color: #fff;
  padding: 8px;
}
.forum__message {
  position: relative;
  vertical-align: top;
  width: 100%;
  font-size: 0.9em;
  word-break: normal;
}
