/*--------------------------
  ------ PARAGRAPHS --------
  --------------------------*/
.card-height-auto {
  height:auto;
}
.card-height-95 {
  height:95%;
}
.card-height-100 {
  height:100%;
}
.card-width-auto {
  padding: 2em 2em;
  margin: 8px;
}
.card-width-95 {
  padding: 2em 2em;
  width:95%;
}
.card-width-100 {
  padding: 2em 2em;
  width:100%;
}
.callout-height-auto {
  height:auto;
}
.callout-height-90 {
  height:90%;
}

.image-center {
  text-align:center;
  float:none!important;
}

/*  Callout (Colors are set with theme classes in TWIG) */
.w3-nobar,
.w3-leftbar {
  padding-left: 16px;
  padding-right: 0;
  margin: 4px 0;
}
.w3-leftbar {
  border-left: 6px solid  var(--bg-theme) !important;
}
.w3-no-leftbar {
  border-left: 0 !important;
}
.w3-callout-button {
	border: 1px solid!important;
	background-color:white;
}
.w3-white-background {
	background-color:white;
}
