/* club-tables.css */

/*-------------------------------------
  - NUMBER TABLE - RIGHT ALIGN DATA --
  - LEADER TABLE - ENFORCE EQUAL COLUMN WIDTH
  - MASTER TABLE - FIXED BUT UNEQUAL WIDTHS
  ------------------------------------*/
.narrow-table {
  width: 50% !important;
}

.master-table,
.number-table,
.leader-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 98%;
  display: table;
}
.related-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
}
.master-table tr,
.related-table tr,
.number-table tr,
.leader-table tr {
  border-bottom: 1px solid #ddd;
}
.master-table tr:nth-child(odd),
.related-table tr:nth-child(odd),
.number-table tr:nth-child(odd),
.leader-table tr:nth-child(odd) {
  background-color: #fff;
}
.master-table tr:nth-child(even),
.related-table tr:nth-child(even),
.number-table tr:nth-child(even),
.leader-table tr:nth-child(even) {
  background-color: #f1f1f1;
}
.master-table th,
.master-table td,
.related-table th,
.related-table td,
.leader-table th,
.leader-table td {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 2em;
  padding-left: 8px;
  display: table-cell;
  vertical-align: top;
  text-align: left;
}

.number-table th:first-child,
.number-table td:first-child {
  padding-left: 16px;
  text-align: left;
}

.number-table th,
.number-table td {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 2em;
  display: table-cell;
  vertical-align: top;
  text-align: right;
}

/* Enforce equal column width */
.leader-table th,
.leader-table td {
  width: 25%;
}

/* Enforce fixed, unequal column width */
.forum-table th:first-child,
.forum-table td:first-child {
  width: 75%;
}
.forum-table th:nth-child(2+1),
.forum-table td:nth-child(2+1) {
  width: 5%;
}
.forum-table th:nth-child(4),
.forum-table td:nth-child(4) {
  width: 15%;
}

/* Enforce fixed, unequal column width */
.master-table th:first-child,
.master-table td:first-child {
  width: 25%;
}
.master-table th:nth-child(2),
.master-table td:nth-child(2) {
  width: 10%;
}
.master-table th:nth-child(3+2),
.master-table td:nth-child(3+2) {
  width: 20%;
}

/* Enforce fixed, unequal column width */
.related-table th:nth-child(1),
.related-table td:nth-child(1) {
  width: 5%;
}
.related-table th:nth-child(2),
.related-table td:nth-child(2) {
  width: 15%;
}
.related-table th:nth-child(3),
.related-table td:nth-child(3) {
  width: 10%;
}
.related-table th:nth-child(4),
.related-table td:nth-child(4) {
  width: 10%;
}
.related-table th:nth-child(5),
.related-table td:nth-child(5) {
  width: 10%;
}
.related-table th:nth-child(6),
.related-table td:nth-child(6) {
  width: 15%;
}
.related-table th:nth-child(7),
.related-table td:nth-child(7) {
  width: 35%;
}

/*---------------------------------------------------
  - PLAIN TABLE - no shading, border on bottom only
  - THEMED TABLE - theme colors for shading and border
  ---------------------------------------------------*/
.plain-table tr {
  border-bottom: 1px solid var(--bg-d1)!important;
}
.plain-table td,
.plain-table th {
  font-size: .8em;
  padding: 4px 4px;
  text-align: left;
  vertical-align: top;
}
/*
.themed-table {
  border: 1px solid var(--bg-d1);
  vertical-align: top
}
*/
.themed-table tr {
  border-bottom: 1px solid var(--bg-d1);
}
.themed-table tr:nth-child(odd) {
  background-color: var(--bg-l5);
}
.themed-table tr:nth-child(even) {
  background-color: #fff;
}
.themed-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
}
.themed-table td,
.themed-table th {
  padding: 8px 8px;
  display: table-cell;
  text-align: left;
  vertical-align: top;
}
.themed-table th:first-child,
.themed-table td:first-child {
  padding-left: 16px;
}
