{#
/**
 * Overrides block.html.twig for Views displayed in block.
 * Display title as <h5> consistent with style on CONTACT INFO, etc.
 * <h2> was hardcoded so can't change with attributes.
 */
#}

{%
  set classes = [
    'w3-block',
    'w3-block-wrapper',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
<section{{ attributes.addClass(classes) }}>

  <h5 class="nomargin">{{ label }}</h5>
  
  {% block content %}
    {{ content }}
  {% endblock %}
</section>
