{#
** Override to add 'cancel-box' to classes
** hook_preprocess_block in Clubtheme.theme gets bgcolor variable
#}
{%
  set classes = [
    bgcolor,
  	'cancel-box',
    'w3-width-100-percent',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
<section{{ attributes.addClass(classes) }}>

  {% block content %}
    {{ content }}
  {% endblock %}
</section>
