{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
{#
Original classes
    'w3-margin-top',
    'w3-content', - this centers the form with margin-left & right = auto
    'w3-padding',
    'w3-theme-l4',
#}
{%
  set classes = [
   'w3-margin-top',
   'w3-margin-bottom',
   'w3-padding-small',
   'w3-round',
   'w3-theme-white',
  ]
%}
{{ attach_library('club_forum/club-forum-comment') }}

<form{{ attributes.addClass(classes) }}>
  {{ children }}
</form>
