{#
/**
 * Clubtheme override 
 *   Replace deprecated "spaceless" with "apply spaceless"
 */
#}

{% apply spaceless %}
  <div id="{{ id }}">
    {% for item in items %}
		<h3 class="faqfield-question">{{ item.question }}</h3>
		<div class="faqfield-answer">{{ item.answer }}</div>
    {% endfor %}
  </div>
{% endapply %}
