{#
/**
 * @file
 * Override for ARTICLE DATE field on article node display (i.e., when viewing full article)
 *   Label - replaced addClass(title_classes) with addClass('field_article_label')
 *   Field value - replaced addClass('w3-bar-item field__item') with addClass('w3-small')
 */
#}
{%
  set classes = [
    'w3-margin-left',
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {% for item in items %}
    <div{{ item.attributes.addClass('byline') }}>{{ item.content }}</div>
  {% endfor %}
</div>
