{# 
   Title is optional and rendered as a field
   Copied file from core\themes\classy\templates\field\field--node--title.html.twig
   Added <strong>
#}
{%
  set classes = [
    'field', 
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
<span{{ attributes.addClass(classes) }}>
  {%- for item in items -%}
    <strong>{{ item.content }}</strong>
  {%- endfor -%}
</span>

