{#
/**
 * @file
 * Theme override for a field.boolean
 *
 * Template override for show and go field to display only if value =1.
 */
#}
{%
  set classes = [
    'w3-section',
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field__label',
  ]
%}

{#
  Show and go has only one value, so label and content can be inside FOR-ENDFOR
#}
{% for item in items %}
  {% if attribute(item.content,'#markup') != null %}
  
    <div{{ attributes.addClass(classes) }}>
      <label{{ title_attributes.addClass(title_classes) }}>Leader(s)</label>
      <div{{ item.attributes.addClass('w3-bar-item field__item') }}>{{ item.content }}</div>
    </div>
	
  {% endif %}
{% endfor %}
