{#
  Apply w3 classes to accordion text.
#}
{%
  set classes = [
    'w3-section',
  ]
%}

 <div{{ attributes.addClass(classes) }}>
   {% for item in items %}
    <div id="{{ loop.index }}" class="w3-hide"> 
       {{ id }} - {{ item.content }} 
	</div>
   {% endfor %}
  </div>
