{#
/**
 * @file
 * Override for ARTICLE AUTHOR field on article node display
 *   Label - hardcoded (could not otherwise get rid of multiple spaces between "By" and authors)
 */
#}{%
  set classes = [
    'w3-margin-left',
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {% for item in items %}
    <div{{ item.attributes.addClass('byline') }}>By {{ item.content }}</div>
  {% endfor %}
</div>
