{#
/**
 * @file
 * Copied /core/modules/file/templates/file-link.html.twig
 * Added <small> tag around file size & commented it for now
 *
 * @see template_preprocess_file_link()
 *
 */
#}
{%
  set classes = [
    'file--type-' ~ file_type|clean_class
  ]
%}
<span{{ attributes.addClass(classes) }}>{{ link }}</span>
{#
{% if file_size %}
  <span><small>({{ file_size }})</small></span>
{% endif %}
#}
