{#
/**
 * @file
 * OVERRIDE to print ALT text as caption if selected as Clubtheme option
 * EXCEPT on Banner Pictures (slideshow and gallery)
 *
 * Available variables:
 * - attributes: HTML attributes for the img tag.
 * - style_name: (optional) The name of the image style applied.
 *
 * @see template_preprocess_image()
 */
#}
{%
set classes = [
  'w3-image',
  style_name ? 'image-style-' ~ style_name|clean_class,
]
%}

{% if style_name == 'slideshow' or  style_name == 'gallery' %}
  <img{{ attributes.addClass(classes) }} />
{% else %}
  <img{{ attributes.addClass(classes) }} />
  {% if image_captions == 1 %}
    <div class="w3-tiny">{{ alt }}</div>
  {% endif %}
{% endif %}
