/* club-style.css February 2022 */

html,
body {
  line-height: 1.6;
}

h2,h3,h4,h5,h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: var(--bg-d3);
}
/** use this when we need to manually set different color, as in view headers */
.h2-fontsize {
  font-size: 28px;
}

/* LINKS (this hides main menu links - see next fix?) */
a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  color: var(--bg-theme);
  text-decoration: none;
  outline: none;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.clear-block {
  padding: 0px
}

.red-text {
  color:#C00000;
}


/* ---- Styles (available in ckeditor) -----------------------------
  Use radius & shadow if button for submitting form
  border-radius: 7px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 13%), 0 3px 6px rgb(0 0 0 / 10%);
  ------------------------------------------------------------------*/
p.small {
  font-size: 85% !important;
  line-height: 1.1;
}
p.medium {
  font-size: 95% !important;
  line-height: 1.1;
}
p.light-button,
p.dark-button {
  display: inline-block;
}
p.light-centered,
p.dark-centered {
  display: block;
  width: fit-content;
  margin:auto;
}
p.light-button,
p.dark-button,
p.light-centered,
p.dark-centered {
  border: 1px solid var(--bg-d5);
  border-radius: 2px;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}
p.light-button,
p.light-centered {
  color: var(--bg-d5)!important;
  background-color: var(--bg-l3)!important;
}
p.dark-button,
p.dark-centered,
p.dark-button a,
p.dark-centered a {
  color: white!important;
  background-color: var(--bg-d3)!important;
}

/* BANNER GALLERY pictures 
  -------------------------*/
.gallery-nopad {
	padding:0!important;
}
.gallery-pad {
  padding: 0 .1em !important;
}

/* BLOCKS
  --------*/ 
.w3-block-95 {
    display: block;
    width: 95%;
}
.block-region {
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 3px;
  background-color: #FFFFCC;
  color: black;
}
.full-width-blocks-inner {
  max-width: 100%!important;
}
.full-width-blocks-inner > div {
  float: left;
  height: 95%;
  width: 100%!important;
}

/* BLOCKQUOTE - smaller font and left border
  ------------------------------------------*/
  blockquote {
    position: relative;
    margin-right: 1rem;
    margin-left: 2rem;
    font-size: 0.9rem;
    font-style: italic;
    color: var(--bg-d3);
    border-left: 8px solid var(--bg-d3);
    border-width: 5px;
    padding-left: 0.7rem;
  }
  [dir="rtl"] blockquote {
    margin-right: 0.5rem;
  }
  blockquote::before {
    position: absolute;
    content: '';
    left: -0.9rem; /* LTR */
    line-height: 1em;
  }
  [dir="rtl"] blockquote::before {
    right: -0.5rem;
  }
  blockquote::after {
    content: '';
  }

/* BORDERS 
  ----------*/
.club-border-bottom {
  border-bottom: 1px solid var(--bg-theme);
}
.club-border-top {
  border-top: 1px solid var(--bg-theme);
}

/* BREADCRUMBS */
ul.breadcrumb {
  padding: 0px 16px;
  list-style: none;
}

/* CALENDAR
   ---------*/
   .calendar-view-table {
    --calendar-view-columns: 7;
    --calendar-view-color-white: #fff;
    --calendar-view-color-lighter: #f8f8f8;
    --calendar-view-color-light: var(--bg-l5);
    --calendar-view-color-grey: #ccc;
    --calendar-view-color-gray: var(--bg-d3);
    --calendar-view-color-evil:#666;
    --calendar-view-color-dark: var(--bg-theme);
    --calendar-view-day-rows-gap: 0.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(var(--calendar-view-columns), 1fr);
    border-collapse: collapse;
  }
  .calendar-view-pager li {
    list-style-type: none; 
  }
  /* Increase font size for pager from 0.8125rem, remove text-transform: uppercase; */
  .calendar-view-pager__reset a,
  .calendar-view-pager .pager__item > * {
    padding: 1rem 0.5rem;
    font-size: 1.5rem;
    line-height: 0;
    text-transform: capitalize;
    font-weight: bold;
    text-decoration: none;
  }
  
/* CANCELLATION block 
  --------------------*/
.cancel-box {
  margin: 0 0!important;
  padding: 0 16px!important;
  border-bottom: 1px solid var(--bg-d5)!important;
}

/* CIVICRM fieldset
  ------------------*/
.civi-fieldset {
  position: absolute;
  top: 10px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
}

/* CLUB CONTACTS GRID display
  ----------------------------*/
.views-field.views-field-user-picture,
 img.w3-image.image-style-medium {
	border-radius: 15px;
}
/* Font-awesome icon if no picture */
.views-field.views-field-user-picture,
.fa-user:before {
  font-size: 68px;
  /*color: Gray;*/
  text-align: left;
  margin: 10px; }
  @media (min-width: 375px) {
    .fa-user:before {
      font-size: 100px; } }
  @media (min-width: 600px) {
    .fa-user:before {
      font-size: 150px; } }
  @media (min-width: 750px) {
    .fa-user:before {
      font-size: 220px; } }

/* COMMENTS
   Reduced margin-bottom, negative left/right margins.
   Removed word-break and reduced padding in comment content.
  -----------------------------------------------------------*/
.comment {
  margin-bottom: 8px;
  margin-left: -16px;
  margin-right: -16px;
  vertical-align: top;
  display: table;
}
.comment__content {
  position: relative;
  display: table-cell;
  padding: 8px 8px;
  vertical-align: top;
  width: 100%;
  border: 1px solid #d3d7d9;
  font-size: 0.8em;
  word-break: normal;
}
.add-comment {
	margin-bottom: 0!important;
}

/* FOOTERS
  ------------*/
.h3footer {
   font-size: 24px;
   font-weight: 400;
   margin: 10px 0;
}
.h5footer {
   font-size: 18px;
   font-weight: 400;
   margin: 10px 0;
}
a.w3-button.li-link.li-link-footer {
  color: inherit!important;
}

/* IMAGES - align center not working consistently - trying this fix */
.align-center {
  display: flex;
  justify-content: center;
}

/* LAYOUT regions
   From layout-regions.css - changed 24px padding to 0px 
   ------------------------------------------------------*/
.search-slide-inner,
.header-inner,
.main-navigation-inner-h,
.welcome-text-inner,
.highlighted-inner,
.top-container-inner,
.page-title-inner,
.main-container-inner,
.bottom-container-inner,
.footer-container-inner,
.footer-menu-inner,
.copyright-inner {
  float: none;
  max-width: 1600px;
  margin: 0 auto !important;
}
.top-container-inner .first-top,
.top-container-inner .second-top,
.top-container-inner .third-top,
.main-container-inner .first-sidebar,
.main-container-inner .w3css-content,
.main-container-inner .second-sidebar,
.bottom-container-inner .first-bottom,
.bottom-container-inner .second-bottom,
.bottom-container-inner .third-bottom,
.bottom-container-inner .forth-bottom,
.footer-container-inner .first-footer,
.footer-container-inner .second-footer,
.footer-container-inner .third-footer {
  float: left;
}
.top-container-inner .first-top > div,
.top-container-inner .second-top > div,
.top-container-inner .third-top > div,
.main-container-inner .first-sidebar > div,
.main-container-inner .w3css-content > div,
.main-container-inner .second-sidebar > div,
.bottom-container-inner .first-bottom > div,
.bottom-container-inner .second-bottom > div,
.bottom-container-inner .third-bottom > div,
.bottom-container-inner .forth-bottom > div,
.footer-container-inner .first-footer > div,
.footer-container-inner .second-footer > div,
.footer-container-inner .third-footer > div {
  float: left;
  height: 100%;
  width: 100% !important;
  padding: 0px !important; /*was 24px; */
}
.main-container-inner .first-sidebar,
.main-container-inner .w3css-content,
.main-container-inner .second-sidebar,
.top-container-inner .first-top,
.top-container-inner .second-top,
.top-container-inner .third-top,
.bottom-container-inner .first-bottom,
.bottom-container-inner .second-bottom,
.bottom-container-inner .third-bottom,
.bottom-container-inner .forth-bottom,
.footer-container-inner .first-footer,
.footer-container-inner .second-footer,
.footer-container-inner .third-footer {
  margin-bottom: 12px;
  margin-top: 12px;
}

/* LOGIN FORM */
.login-form {
  width: fit-content;
  border-radius: 2px;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

/* MAINTENANCE page 
 -------------------*/
.maintenance-page {
  background-color: var(--bg-l3) !important;
}
.maintenance-page main {
  min-height: 100%;
  margin-top: 30px !important;
}

/* MENU LINKS 
   Horizontal, vertical, vertical when open. 
  ------------------------------------------*/
#main-navigation-h .ul-parent li > a {
    color: white;
}
#main-navigation-v .ul-parent li > a {
  color: white;
}
#open-nav-inner {
  background-color:#155295 !important;
  width: 50px;
  margin: 10px 20px 0 0;
}

/* NODES: Override d8w3css/css/components/default-node.css
    reduce font-size from 22pt and reduce line height from 190% 
 ------------------------------------------------------------------*/
.node--view-mode-full .node__content .field--type-entity-reference,
.node--view-mode-full .node__content .field--type-smartdate,
.node--view-mode-full .node__content .field--type-text-with-summary {
  font-size: 18px;
  line-height: 160%;
}
.node--view-mode-full .node__content .field--type-text-long,
.node--view-mode-full .node__content .field--type-string-long {
  font-size: 18px;
  line-height: 160%;
  padding-right: 8px;
}

/* SHORTCUTS
   Remove top/bottom padding & bottom border 
   ------------------------------------------*/
.w3-uls {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.w3-uls li {
  padding: 0 16px!important;
}

/* TABS, admin
------------------------*/
.page-tabs {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0.5rem 0;
  padding: 0;
  border-bottom: 2px solid var(--bg-theme);
}
.page-tabs li {
  background-color: var(--bg-l5);
  padding: 0;
  border-right: 2px solid #ffffff;
}
.page-tabs li:last-child {
  border-right: 0;
}
.page-tabs li a {
  display: block;
  padding: 5px 10px;
  color: var(--bg-theme);
  transition: all 0.3s ease;
}
.page-tabs .active-page-tab {
  background-color: var(--bg-theme);
}
.page-tabs .active-page-tab a {
  color: #ffffff;
}
.page-tabs li:hover {
  background: var(--bg-d3);
}
.page-tabs li:hover a {
  color: #ffffff;
}

/* TEASER: front page
   TEASER2: calendar lists  
----------------------------*/
teaser {
  display: block;
  font-size: .95em;
}
teaser2 {
  display: block;
  font-size: .9em;
}
hr.teaser {
  border-bottom: 1px solid var(--bg-l5);
  margin: 0;
}
hr.teaser2 {
  border-bottom: 1px solid var(--bg-l3);
  margin: 0;
}

/* USER AGENT STYLE sheet
   Reduce padding-inline-start from 40px to 16px 
   ----------------------------------------------*/
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 1.5em;
    margin-inline-end: 1.5em;
    padding-inline-start: 16px;
}

/* W3 FORM ELEMENTS */
.w3-input-text {
  display: block;
  font-size: small;
  padding: 4px;
  border: 1px solid #ccc !important;
  width: auto;
}
.w3-input-number {
  display: inline-block;
  font-size: medium;
  padding: 4px;
  border: 1px solid #ccc !important;
}
.w3-select-auto {
  font-size: small;
  padding: 5px 0;
  margin-top: 1px;
  border: 1px solid #ccc !important;
  width: auto;
}
.w3-section-grid {
  display: inline-grid;
  width: auto;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}
.w3-button-submit {
  color: white!important;
  background-color: var(--bg-d5)!important;
}

/* W3 changes
  --------------*/
.w3-fullheight {
	height: 100%;
}
.w3-image {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
}
.w3-left-pad {
	padding-left: 16px;
	margin: auto;
}
.w3-margin-top8 {
  margin-top: 8px !important;
}
.w3-margin-topbottom {
  margin: 8px 0px !important;
}
.w3-padding-8 {
  padding-left: 8px;
  padding-right: 8px;
}
.w3-padding-right {
  padding-right: 16px !important;
}
.w3-padding-top-16 {
  padding-top: 16px !important;
}
.w3-dark-button,
.w3-dark-button a:link,
.w3-dark-button a:visited {
  background-color: var(--bg-d3)!important;
  color:white!important;
  border-radius: 2px;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.w3-dark-button a:hover,
.w3-dark-button a:active {
  background-color: var(--bg-l5)!important;
  color:black!important;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*--------------------------
  ------ RIDES PAGE --------
  --------------------------*/
/* MAPS: inline-block. Class is applied in View > Unformatted list > Settings */
.w3-maps {
  display: inline-block!important;
}
/* Iframe displays miles and elevation at min-width=580 */
.w3-iframe-map {
  display: inline-block !important;
  width:300px !important;
  height:300px !important;
}
@media (min-width:460px) {
  .w3-iframe-map {
    display: inline-block !important;
    width:450px !important;
    height:400px !important;
  }
}
@media (min-width:580px) {
  .w3-iframe-map {
    display: inline-block !important;
    width:575px !important;
    height:400px !important;
  }
}

/* IMAGES - prevent description from wrapping around image
   applies to images with view_mode = no_wrap (see media--no-wrap.html.twig) */
.w3-nowrap {
  display: flow-root!important;
  vertical-align:top;
}
/** ROUTES and MAPS - set block titles to match field labels */
.h3-block-title {
  font-size: 18px;
  font-weight: 600;
  color: var(--bg-theme);
}
/* ADDITIONAL INFO - reduce top margin */
.added-info-top {
  margin-top: -16px !important;
}
.date-height {
  height:160px;
}
/* FIELD LABELS - apply field color so labels match headers*/
.field__label {
	color: var(--bg-theme);
	font-weight: 600!important;
}
/* STARTING LOCATION: remove space between place name and address */
p.address {
  margin:0;
  padding-top: 0!important;
  padding-bottom: 0!important;
}


/*--------------------------------
  -------- MOBILE ----------
  modifying d8w3css responsive.css
  --------------------------------*/
/* Layout builder changes to one-column at 40em = 640px */
@media (max-width:640px) {

  .w3-bar-item {
    max-width: 95vw;
  }
  .number-table {
    max-width: 90vw;
  }
}
.main-container-inner .first-sidebar,
.main-container-inner .second-sidebar {
  margin-top: 0;
}

@media (max-width:600px) {

	.main-container-inner .first-sidebar > div,
	.main-container-inner .w3css-content > div,
	.main-container-inner .second-sidebar > div
    {
	  padding-top: 0!important;
	  padding-bottom: 8px!important;
	}

	.footer-container-inner .first-footer,
	.footer-container-inner .second-footer,
	.footer-container-inner .third-footer {
	  margin-bottom: 0;
	  margin-top: 0;
	}

	.w3-small {
	  font-size: 12px!important;
	}

	.site-logo {
		margin-top: 0 !important;
		padding-bottom: 8px !important;
	}

  /* USER ACCOUNT MENU: right-align */
   #header-inner > nav,
   #header-inner > nav > ul {
    width: auto!important;
    clear: both!important;
   }
}
