{#
/**
 * OVERRIDE change title from H3 to H5
 */
#}
{% if title %}
  <h5>{{ title }}</h5>
{% endif %}
{% for row in rows %}
  {%
    set row_classes = [
      'w3-row',
      default_row_class ? 'views-row',
    ]
  %}
  <div{{ row.attributes.addClass(row_classes) }}>
    {{- row.content -}}
  </div>
{% endfor %}