{#
/**
 * @file
 * Clubtheme removes 'w3-margin-top' from classes
 *
 * @see template_preprocess_form()
 */
#}

{%
  set classes = [
   'w3-padding-small',
   'w3-theme-l5',
   'w3-round',
  ]
%}

<form{{ attributes.addClass(classes) }}>
  {{ children }}
</form>