{#
Original classes
    'w3-margin-top',
    'w3-content', - this centers the form with margin-left & right = auto
    'w3-padding',
    'w3-theme-l4',
#}
{%
  set classes = [
   'w3-margin-top',
   'w3-margin-bottom',
   'w3-padding-small',
   'w3-theme-l5',
   'w3-round',
  ]
%}

<form{{ attributes.addClass(classes) }}>
  {{ children }}
</form>
