{#
/**
 * @file
 * Override to add colon (:) after the label if not required and label comes before form field
 * Required elements have asterisk
 *
 * Available variables:
 * - title: The label's text.
 * - title_display: Elements title_display setting.
 * - required: An indicator for whether the associated form element is required.
 * - attributes: A list of HTML attributes for the label.
 *
 * @see template_preprocess_form_element_label()
 */
#}
{%
  set classes = [
    title_display == 'after' ? 'option',
    title_display == 'invisible' ? 'visually-hidden',
    required ? 'js-form-required',
    required ? 'form-required',
  ]
%}

{% if title is not empty and (required or title_display == 'after') -%}
  <label{{ attributes.addClass(classes) }}>{{ title }}</label>

{% elseif title is not empty  -%}
  <label{{ attributes.addClass(classes) }}>{{ title }}:</label>
{%- endif %}
