{# Modified "paragraph.html.twig". This template "calls" icon, image, text templates.
   Couldn't figure out how to make link available to field_title template so it wraps title here.
#}
{#
  Light background
  Dark background
  No background
#}

{%
  set classes = [
	'w3-panel',
	paragraph.field_card_height.value,
	paragraph.field_card_width.value,
	paragraph.field_box_shadow.value ? 'w3-card-2',
  paragraph.field_background.value,
  ]
%}

<div{{ attributes.addClass(classes) }}>
  <a href="{{ paragraph.field_link.uri }}">
    <h3><center>{{ paragraph.field_title.value }}</center></h3>
  </a>
  {{ content|without('field_title') }}
</div>
