{#
/**
 * @file
 * Default theme implementation to present a media item.

 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}

<div{{ attributes.addClass('w3-nowrap') }}>
  {{ title_suffix.contextual_links }}
  {{ content }}
</div>
